body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.header {
  margin-top: 20px;
  position: relative;
}

#changeTable {
  position: absolute;
  top: 0;
  right: 15px;
}

.category-selector {
  margin-top: 30px;
}

.order-list {
  margin-top: 30px;
}

.total {
  margin-top: 30px;
}

.allergen {
  background-color: red;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
  display: inline-block !important;
}
.special-wishes {
  width: 150px;
  padding: 2px;
}
